#⚠️⚠️ REMEBER BEFORE CONSEGNARE QUESTO PRJ PULISCI I TUOI DATI PERSONALI DA QUESTO FILE .env!!

PORT=3001
FRONTEND_URL=http://localhost:3000
SUPABASE_URL=#https://your-project.supabase.co
SUPABASE_SECRET_KEY=#your-supabase-service-role-key
#questa key è capace di bypassare tutte le row level security policies (RLS)

#cloudflare r2
R2_ENDPOINT_URL=xxx
R2_ACCESS_KEY_ID=xxx
R2_SECRET_ACCESS_KEY=xxx
R2_BUCKET_NAME=mikeoss-competesrl
#in storage.ts in realta uso cloudflare r2 come storage, asw lo utilizzo xk è compatibile con cloudlfare r2 (ma su aws sito non devo crearmi nessun account o pagare!!)

#x email
RESEND_API_KEY=xxx

OPENROUTER_API_KEY=xxx
#in relta pero openrouter non VIENE MAI usato da nessuna parte nel code!

OPENAI_API_KEY=xxx

GEMINI_API_KEY=your-gemini-key
ANTHROPIC_API_KEY=your-anthropic-key